#postButton{
	left:0;
	right:0;
	top:0;
	margin-top: 5%;
	margin-left: 50%;
    margin-bottom: auto;
    margin-right: auto;
    width: 20%;
    height: 15%;
    border-radius: 5px;

}


#takePictureButton{
	left:0;
	right:0;
	width: 20%;
	margin-left: 40%;
	margin-top: 60%;
	border-radius: 50%;
	width: 20%;
	height: 20%;
}

#keyboardButton{
		left:0;
	right:0;
	bottom:0;
    margin-bottom: auto;
    margin-top: 50%;
    margin-right: auto;
    width: 75%;
    height: 50%;
}

#folderButton{
	left:0;
	right:0;
	top:0;
    margin-bottom: auto;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}

#cameraButton{
	left:0;
	right:0;
	top:0;
    margin-bottom: auto;
    margin-left: 37.5%;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}

#shareButton{
	left:0;
	right:0;
	top:0;
    margin-bottom: auto;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}

#findButton{
	left:0;
	right:0;
	bottom:0;
    margin-bottom: auto;
    margin-top: 50%;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}

#lockButton{
	left:0;
	right:0;
	top:0;
    margin-bottom: auto;
    margin-left: 37.5%;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}

#GPSButton{
	left:0;
	right:0;
	bottom:0;
    margin-bottom: auto;
    margin-top: 50%;
	margin-left: 37.5%;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}