body{
	background-color:#F0F0F0;
	font-family: Sans-Serif;
	cursor: default;
}

.inline{
	display: inline-block;
	vertical-align: top;
	margin: auto;

}


.absCenter{
	left:0;
	right:0;
	display: block;
	margin-left: auto;
    margin-right: auto;
}


#appButton{
	left:0;
	right:0;
	margin-left: 75%;
    margin-right: auto;
    width: 0.6in;
    height: 50%;
}

#contactsButton{
	left:0;
	right:0;
	bottom:0;
    margin-bottom: auto;
    margin-top: 50%;
	margin-left: 75%;
    margin-right: auto;
    width: 25%;
    height: 50%;
}

#mainImage{
	left:0;
	right:0;
	display: block;
    width:75%;
    height: 100%;
}

.textCenter{
	left:0;
	right:0;
	display: block;
	margin-left: auto; margin-right: auto; text-align: center;
}

#clickType{
	width: 200px;
	height: 1;
	border:1px solid #000;
}


#container{
	position: relative;
	width:2.4in;
	height:1.8in;
	margin-left: 20%;
	background-color:#FFFFFF;
}


#container>div{
	width: 100%;
	height: 100%;
	display: none;
	visibility: hidden;
}


#container *{
	position: absolute;
}

#bg{
	width: 100%;
}


#lockscreenText{
	color: #FFF;
}


#lockscreenText{
	margin-top: 15%;
	font-size: 50px;
	-webkit-text-stroke: 1px black;
}

#fingerprint{
	width: 20%;
	margin-top: 50%;
}



#tutorialText2{
	margin-top: 35%;
}


#tutorialImage{
	width: 20%;
	margin-top: 50%;
}


#skip{
	bottom:0;
	right:0;
	color: 	#0645AD;
	font-size: 15px; 
	display: block;

}