body{
	background-color:#F0F0F0;
}

.inline{
	display: inline-block;
	vertical-align: top;
	margin: auto;
}


#clickType{
	width: 200px;
	height:auto;
	border:1px solid #000;
}


#container{
	position: relative;
	width:1.8in;
	height:2.4in;
	border:1px solid #000;
	margin-left: 20%;
	background-color:#FFFFFF;
}

#container *{
	position: absolute;
	top:0;
	visibility: hidden;
}



#lockscreen{
	visibility: visible;	
}

#lockscreen *{
	visibility: visible;	
}

