body{
	background-color:#F0F0F0;
	font-family: Sans-Serif;
	cursor: default;
	-webkit-user-select: none;
}

img{
	-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.textCenter{
	left:0;
	right:0;
	display: block;
	margin-left: auto; margin-right: auto; text-align: center;
}


.inline{
	display: inline-block;
	vertical-align: top;
	margin: auto;

}

.absCenter{
	left:0;
	right:0;
	display: block;
	margin-left: auto;
    margin-right: auto;
}


#container{
	position: relative;
	width:2.4in;
	height:1.8in;
	margin-left: 20%;
	background-color:#FFFFFF;
}

#container>div{
	top:10%;
	width: 100%;
	height: 90%;
	display: none;
	visibility: hidden;
}

#container *{
	position: absolute;

}

#notifications{
	top: 0 !important;
	left:0;
	background-color: black;
	height: 10% !important;
	opacity: 0.9;
	border-radius: 0 0 10px 10px;
}

#mainButtons{
	margin-left: 80%;
	width: 20%;
	height: 80%;
    margin-right: auto;
}

	#mainCamera{
		top: 2%;
		right: 2%;
		width: 96%;
		height: 33%;
	}

	#mainApps{
		width: 100%;
		right: 3%;
		top: 40%;
	}



#post{
	width: 80%;
	height: 90%;
}

	#mainImage{
		margin-top: 2%;
		margin-left: 3%;
	    height: 60%;
	    width: 94%;
	}

	#postLocationContainer{
		margin-top: 50%;
		margin-left: 2%;
		font-size: 10px;
		width: 100%;

	}
		#locationPin{
			margin-top: 1%;
			width: 5%;
		}

		#postLocation{
			vertical-align: top;
			width: 94%;
			margin-left: 6%;
		}

		#postDescription{
			margin-top: 8%;
			width: 95%;
			vertical-align: top;
		}

		#postHandle{
			font-size: 9px;
			margin-top: 24%;
			vertical-align: top;
		}


#clickType{
	width: 200px;
	height: 1;
	border:1px solid #000;
}



#bg{
	width: 100%;
}


#lockscreen{
	top: 0% !important;
	width: 100%;
	height: 100%;
}

#lockscreenText{
	color: #FFF;
}


#lockscreenText{
	margin-top: 9%;
	font-size: 50px;
	
}

#lockscreenDate{
	color: #FFF;
	margin-top: 35%;
	font-size: 20px;
}

#fingerprint{
	width: 20%;
	margin-top: 50%;
}

#tutorial{
	z-index: 100;
	
}


#tutorialText2{
	margin-top: 25%;
}


#tutorialImage{
	width: 20%;
	margin-top: 40%;
}




#skip{
	bottom:0;
	right:0;
	color: 	#0645AD;
	font-size: 15px; 
	display: block;
	-webkit-text-stroke: 0.3px black;
}

#postButton{
	left:0;
	right:0;
	top:0;
	margin-top: 5%;
	margin-left: 50%;
    margin-bottom: auto;
    margin-right: auto;
    width: 20%;
    height: 15%;
    border-radius: 5px;

}


#takePictureButton{
	left:0;
	right:0;
	width: 20%;
	margin-left: 40%;
	margin-top: 60%;
	border-radius: 50%;
	width: 20%;
	height: 20%;
}

#keyboardButton{
		left:0;
	right:0;
	bottom:0;
    margin-bottom: auto;
    margin-top: 50%;
    margin-right: auto;
    width: 75%;
    height: 50%;
}

#folderButton{
	left:0;
	right:0;
	top:0;
    margin-bottom: auto;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}

#cameraButton{
	left:0;
	right:0;
	top:0;
    margin-bottom: auto;
    margin-left: 37.5%;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}

#shareButton{
	left:0;
	right:0;
	top:0;
    margin-bottom: auto;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}

#findButton{
	left:0;
	right:0;
	bottom:0;
    margin-bottom: auto;
    margin-top: 50%;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}

#lockButton{
	left:0;
	right:0;
	top:0;
    margin-bottom: auto;
    margin-left: 37.5%;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}

#GPSButton{
	left:0;
	right:0;
	bottom:0;
    margin-bottom: auto;
    margin-top: 50%;
	margin-left: 37.5%;
    margin-right: auto;
    width: 37.5%;
    height: 50%;
}



#numpadScreen{
	width: 100%;
	height: 100%;
}

#numpadScreen>p{
	margin-top: 10%;
	background-color: #d1d1d1;
	margin-left: 10%;
	width: 80%;
	height: 10%;
}
#numpadScreen>input{
	display: inline-block;
	height: 15%;
	width: 15%;
}