body{
	background-color:#F0F0F0;
}

.inline{
	display: inline-block;
	vertical-align: top;
	margin: auto;
}


#clickType{
	width: 200px;
	height:auto;
	border:1px solid #000;
}


#container{
	position: relative;
	width:1.8in;
	height:2.4in;
	margin-left: 20%;
	background-color:#FFFFFF;
}

#container *{
	position: absolute;
	visibility: hidden;
}

#lockscreen *{
	visibility: visible;
}

#fingerprint{
	margin: auto;
	display: block;
	height: 50px;
	width: 	50px;
	border:1px solid #0F0;

}


