body{
	background-color:#F0F0F0;
}

.inline{
	display: inline-block;
	vertical-align: top;
	margin: auto;
}


.absCenter{
	left:0;
	right:0;
	display: block;
    margin-bottom: 0;
    margin-top: 0;
	margin-left: auto;
    margin-right: auto;
}


.textCenter{
	left:0;
	right:0;
	display: block;
	text-align: center;
}
#clickType{
	width: 200px;
	height:auto;
	border:1px solid #000;
}


#container{
	position: relative;
	width:800px;
	height:600px;
	margin-left: 20%;
	background-color:#FFFFFF;
}


#container>div{
	width: 100%;
	height: 100%;
}


#container *{
	position: absolute;
	visibility: hidden;
}

#lockscreen>*{
	visibility: visible;
}

#lockscreenText{
	color: #FFF;
}


#lockscreenText{
	margin-top: 30%;
	font-size: 80px;
}

#fingerprint{
	width: 50px;
	height: 50px;
	margin-top: 50%;
}




