body{
	background-color:#F0F0F0;
}

.inline{
	display: inline-block;
	vertical-align: top;
	margin: auto;
}


#clickType{
	width: 200px;
	height:auto;
	border:1px solid #000;
}


#container{
	position: relative;
	width:800px;
	height:600px;
	margin-left: 20%;
	background-color:#FFFFFF;
}


#container>div{
	width: 100%;
	height: 100%;
}


#container *{
	position: absolute;
	visibility: hidden;
}

#lockscreen>*{
	border: 1px #0F0 solid;
	visibility: visible;
}

#fingerprint{
	left:0;
	right:0;
	width: 50px;
	height: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}




