body{
	background-color:#F0F0F0;
}

.inline{
	display: inline-block;
	vertical-align: top;
	margin: auto;
}


#clickType{
	width: 200px;
	height:auto;
	border:1px solid #000;
}


#container{
	position: relative;
	width:800px;
	height:600px;
	margin-left: 20%;
	background-color:#FFFFFF;

}

#container *{
	width: 100%;
	height: 100%;
	position: absolute;
	visibility: hidden;
	border:1px solid #0F0;
}
#lockscreen *{
	visibility: visible;
}

#fingerprint{
	width: 50px;
	height: 50px;
	display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;	
}




