body{
	background-color:#F0F0F0;
	font-family: Sans-Serif;
	cursor: default;
	-webkit-user-select: none;

}

img{
	-webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -user-drag: none;
}

button{
	box-sizing: content-box;
	width: 250px;
    height: 50px;
    margin: 0 auto !important;
    padding: 0 !important;
    display: table-cell;
    vertical-align: middle;
}

.textCenter{
	left:0;
	right:0;
	display: block;
	margin-left: auto; margin-right: auto; text-align: center;
}

.casualCenter{
	display: flex;
	align-items: center;
}
.inline{
	display: inline-block;
	vertical-align: top;
	margin: auto;

}

.wd100{
	width: 100%;
	height: 100%;
}

.absCenter{
	left:0;
	right:0;
	display: block;
	margin-left: auto;
    margin-right: auto;
}


#container{
	position: relative;
	width:2.4in;
	height:1.8in;
	margin-left: 20%;
	background-color:#FFFFFF;
}

.normalScreen{
	top:10%;
	width: 100%;
	height: 90% !important;
}

#container>div{
	display: none;
	visibility: hidden;
}

#container *{
	position: absolute;
	display:block;
}

#lockscreen{
	top: 0% !important;
	width: 100%;
	height: 100%;
}

	#lockscreenText{
		color: #FFF;
	}


	#lockscreenText{
		margin-top: 9%;
		font-size: 50px;
		
	}

	#lockscreenDate{
		color: #FFF;
		margin-top: 35%;
		font-size: 20px;
	}

	#fingerprint{
		width: 20%;
		margin-top: 50%;
	}


#notifications{
	top: 0;
	left:0;
	background-color: black;
	height: 10%;
	width: 100%;
	opacity: 0.9;
	z-index: 200;
	text-align: center;
}
	#notificationsTime{
		margin-top: 1.8% !important;

		font-size: 10px;
		color: white;
	}


#mainButtons{
	left: 80%;
	width: 20%;
	height: 80%;
}

	#mainCamera{
		top: 2%;
		width: 80%;
	}

	#mainApps{
		width: 100%;
		top: 35%;

	}

	#mainContacts{
		top: 85%;
		width: 70%;
		left: 4%;
		
	}

#post2{
	z-index: 1;
	top: 1%;
	width: 80%;
	display: none;
	visibility: hidden;
	height: 100%;
}

#post{
	z-index: 1;
	top: 3%;
	width: 80%;
	height: 97%;
}
	
	#mainImage{
		margin-left: 3%;
	    height: 60%;
	    width: 80%;
	}

	#postSocial{
		margin-left: 83%;
		width: 17%;
		height: 60%;
	}
		#postLikesContainer{
			text-align: center;	
			left: 1%;
			width: 100%;
			height: 33%;
			border: 1px solid white; /* gray */
		}
			#postLikes{
				height: 60%;
			}

			#postLikesNumber{
				font-size: 9px;
				margin-top: 0;
				margin-bottom: 0;
				bottom: 0;
				color: red;
			}

		#postCommentsContainer{
			text-align: center;	
			left: 1%;
			width: 100%;
			height: 33%;
			top: 35%;
			border: 1px solid white; /* gray */
		}
			#postComments{
				top: 2%	;
				height: 55%;
				}

			#postCommentsNumber{
				font-size: 9px;
				margin-top: 0;
				margin-bottom: 0;
				bottom: 0;
			}

		#postShareIcon{
			text-align: center;	
			left: 1%;
			width: 60%;
			height: 20%;
			top: 70%;
			border: 1px solid white; /* gray */
		}
	#postLocationContainer{
		top: 63%;
		height: 37%;
		margin-left: 2%;
		font-size: 10px;
		width: 98%;

	}
		#locationPin{
			margin-top: 1%;
			width: 5%;
		}

		#postLocation{
			vertical-align: top;
			width: 94%;
			margin-left: 6%;
		}

		#postDescription{
			font-size: 9px;
			margin-top: 8%;
			width: 95%;
			vertical-align: top;
			word-wrap: break-word;
			overflow-y: auto;
			max-height: 50%
		}

		#postHandle{
			font-size: 9px;
			margin-top: 23%;
			vertical-align: top;
		}

		#postTimestamp{
			font-size: 9px;
			margin-top: 23%;
			right: 0;
		}



#quickPostImagePick{
	width: 100%;
	height: 100%;
}

	#quickPostCameraImage{
		width: 100%;
		height: 100%;
	}

	#quickPostGallery{
		border: 2px solid white;
		width: 10%;
		right: 0;
		bottom: 45%;
		z-index: 1;
	}

	#quickPostNextArrow{
		width: 10%;
		right: 0;
		bottom: 25%;
		z-index: 1;
	}
	#quickPostStorageImages{
		width: 10%;
		right: 0;
		top: 15%;
		z-index: 1;
	}

#quickPostTextAdd{
	height: 100%;
	width: 100%;
}


#cameraSimulation{
	padding: 5px;
	width: 150px;
	height: 80px;
	display: block;
	border: solid black 1px;
	visibility: hidden;
	display: none;

}

#cameraCrop{
	visibility: hidden;
	width: 2.4in; 
	height: 1.8in; 
}
	#cameraCropSelected{
		max-width: 100%;
	}

#clickType{
	width: 200px;
	height: 1;
	border:1px solid #000;
}



#bg{
	width: 100%;
}


#tutorial{
	top: 0% !important;
	width: 100%;
	height: 100%;
	z-index: 100;
}


	#tutorialText2{
		margin-top: 40%;
		font-size: 8pt;	
	}


	#tutorialImage{
		width: 20%;
		margin-top: 40%;
	}

	#skip{
		bottom:0;
		right:0;
		color: 	#0645AD;
		font-size: 15px; 
		display: block;
		-webkit-text-stroke: 0.3px black;
	}

	#tutorialKb{
		top:0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
		#tutText{
			top: 5%;
		}


#postButton{
	left:0;
	right:0;
	top:0;
	margin-top: 5%;
	margin-left: 50%;
    margin-bottom: auto;
    margin-right: auto;
    width: 20%;
    height: 15%;
    border-radius: 5px;

}


#numpadScreen{
	width: 100%;
	height: 100%;
}

	#numpadScreen>p{
		margin-top: 10%;
		background-color: #d1d1d1;
		margin-left: 10%;
		width: 80%;
		height: 10%;
		z-index: 500;
	}

	#numpadScreen>input{
		display: inline-block;
		height: 15%;
		width: 15%;
	}



#commentsScreen *{
	margin: 0;
}

	#commentsContainer{
		height: 90%;
		width: 100%;	
		overflow-x: auto;
	}
		#commentTemplate{
			width: 100%;
			height: 30%;	
			visibility: hidden;
			display: none;
		}

			#commentHeartContainer{
				left: 92%;	
				width: 8%;
				height: 100%;
			}
				#commentHeart{
					width: 100%;
				}				
				#commentLikes{
					top: 60%;
					color: red;
					font-size: 8px;
				}

			#commentHandle{
				font-size: 10px;
			}

			#commentText{
				left: 4%;
				top: 40%;
				max-height: 31px;
				width: 96%;
				font-size: 9px;
				word-wrap: break-word;
				overflow-y: auto;
			}

	.addText{ 
		bottom: 0;
		height: 10%;
		width: 98%;
		border: 1px solid grey;
		color: #C0C0C0;
		font-size: 10px;
		margin:0;
		bottom: 0
	}

#genericKb {
	width: 100% !important;
	height: 100% !important;
	z-index: -1;
}

#contactSelector {
	width: 100% !important;
	height: 100%;
}

	.contactDiv {
		height: 20%;
	}


#contactsScreen *{
	margin: 0;
}


	#contactsContainer{
		left:0;
		top:14%;
		width: 100%;
		height: 84%;
	}

	#contactTemplateDiv{
		width: 100%;
		height: 10%;
		visibility: hidden;
		display: none;
	}

		#contactTemplateName{
			left: 7%;
			font-size: 9px;			
		}

		#templateSendMessage{
			left: 0;
			top:1%;
			width: 5%;
		}

	#contactsOptions{
		width: 100%;
		height: 15%;
	}

		#addContactButton{
			right: 0;
			width: 10%;
			height: 100%;
		}

		#contactsNotifyButton{
			right: 13%;
			width: 10%;
			height: 100%;
		}

		#contactsNumberRequests{
			right: 11%;
			font-size: 9px;
			z-index: 1;
			color: red;
		}
		#contactsText{
			top:2%;
			font-size: 10px;
		}

#contactRequestsScreen *{
	margin: 0;
}

	#contactRequestsContainer{
		left:0;
		top:14%;
		width: 100%;
		height: 84%;
	}

	#requestsOpenText{
		top: 2%;
		font-size: 10px;
	}
	
	#contactRequestTemplate{
		width: 100%;
		height: 12%;
		visibility: hidden;
		display: none;
	}

		#acceptContactButton{
			left: 0;
			width: 7%;
			height: 100%
		}

		#denyContactButton{
			left: 9%;
			width: 7%;
			height: 95%;
		}

		#contactRequestName{
			top: 3%;
			left: 18%;
			font-size: 9px;	
		}


#chattingWith{
	margin: 0;
	font-size: 13px;
}

#chatContainer{
	left: 0;
	width: 100%;
	height: 70%;
	top: 13%;
	overflow-y: auto;
}

::-webkit-scrollbar{
	display: none;
}
#chatScreen *{
	margin: 0;
}

#messageTemplate{
	visibility: hidden;
	display: none;
}
	
	#chatSender{
		top: 0;
		font-size: 12px
	}

	#chatMessage{
		left: 13c%;
		font-size: 12px
	}