body{
	background-color:#F0F0F0;
	font-family: Sans-Serif;
	cursor: default;
	-webkit-user-select: none;
}


#container{
	position: relative;
	width:2.4in;
	height:1.8in;
	margin-left: 20%;
	background-color:#FFFFFF;
}

#container *{
	position: absolute;
}

#numpadScreen{
	width: 100%;
	height: 100%;
}

#numpadScreen>p{
	margin-top: 10%;
	background-color: #d1d1d1;
	margin-left: 10%;
	width: 80%;
	height: 10%;
}
#numpadScreen>input{
	display: inline-block;
	height: 15%;
	width: 15%;
}