#main{
    font-family: klavika, arial;
    text-align: center;

    padding-left:10%;
    padding-right:10%
}

#tecnico_header{

    padding-top:120px;
    padding-bottom:80px;
    padding-left:50px;
    padding-right:50px"
}